.gameContainer{
  .counterContainer {
    display: flex;
    height: 200px;
    justify-content: center;
    .fizzbuzzCounter{
      width: 300px;
      h1{
        font-size: 70px;
        font-family: "Helvetica Neue";
        text-align: center;
        color: coral;
      }
    }
  }

  .rightOrWrong{
    width: 200px;
    font-family: Impact;
    font-size: 40px;
    text-align: center;

    #good{
      color: lightgreen;
      -webkit-animation: neonGreen 1.5s ease-in-out infinite alternate;
      -moz-animation: neonGreen 1.5s ease-in-out infinite alternate;
      animation: neonGreen 1.5s ease-in-out infinite alternate;
    }

    #wrong{
      color: lightcoral;
      -webkit-animation: neonRed 1.5s ease-in-out infinite alternate;
      -moz-animation: neonRed 1.5s ease-in-out infinite alternate;
      animation: neonRed 1.5s ease-in-out infinite alternate;
    }
  }

  .buttons {
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;

    button{
      height: 80px;
      width: 160px;
      border: none;
      background-color: crimson;
      font-family: "Helvetica Neue";
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      color: white;
      outline: none;
    }
    button:focus{
      background-color: coral;
      border: none;
    }
    button:active{
      border: white 2px solid;
    }

  }
  .points{
    font-family: "Helvetica Neue";
    color: coral;
    font-size: 20px;
    text-align: center;
    span{
      color: white;
    }
  }

  .startButton-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    button{
      height: 80px;
      width: 160px;
      border: none;
      background-color: forestgreen;
      font-family: "Helvetica Neue";
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      color: white;
      outline: none;
    }
  }

}

@-webkit-keyframes neonGreen {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-webkit-keyframes neonRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
